.ql-editor img
{
	padding: 0;
	margin-bottom: 1em;
}
.timeline_container::before {
	position: absolute;
	left: 50%;
}

#page .wrapper .navigation
{
	display:flex;
	flex-direction:column;
}

#page { margin-top: 5em; }
#page>nav {
	/* margin-top: 12em; */
	margin-top: 7em;
}

#page>map>nav a {
	font-size: 15pt !important;
}

map>nav {
	display: none !important;
}

#page>main article .icons {
	justify-content: center;
}

#page>main article>.header ul {
	margin-top: 0.25em;
}

.timeline-img {
	font-size: 20pt !important;
	margin-left: 10px;
}

.timeline_date {
	/* margin-right: 0; */
	margin-top: 0.75em;
	font-size: 13pt !important;
	box-shadow: unset !important;
	/* margin-left: auto !important; */
	background-color: transparent !important;
	font-style: italic;
	font-weight: bold;
}


.timeline-img { margin-left: 3px; padding: 0.9em; }
.timeline-block
{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timeline-block {
	margin-bottom: 3em;
}

main h1 {
	font-size: 1.8rem;
}

.timeline-content-wrapper { margin:0; }
.timeline-block { margin-right:10px; margin-left:10px; }
.timeline-content {
	margin-top: 3.5em;
}

.timeline-content .flex {
	font-size: 1rem;
	display: block;
}

.timeline-content h1 {
	font-size: 1.5rem;
}

.timeline_container::before {
	height: calc(100% - 50px);
	/* margin-top: 75px;
	margin-left: 10px; */
	margin-top: 8px;
}

map>nav {
	display: none !important;
}

#page>header {
	position: fixed;
	top: 2em;
	left: 1em;
}

#page>main.shrink {

	margin-top: 0;
}

#page>main {

	transition: margin-top 0.5s linear;
	flex-direction: column;

	padding-top: 0em !important;

	margin-top: 200px;
	margin-bottom: 4em;
	margin-left: 0em;
	margin-right: 0em;
}


.timeline_date_final {
	position: relative !important;
	top: -1em !important;
	left:auto !important;
	right:auto !important;
	margin:0 !important;
}

.timeline_date {
	font-size: 1.25rem !important;
	font-weight: 700;

	font-style: normal;

	position: absolute;
	top: -4.2em;
	left: -0.4em;

	background-color: #FFF !important;
	padding: 0.5em;
	box-shadow: 0 4px 0 hsl(205, 38%, 89%, 0.8) !important;
}

#page>main>.articles {
	margin-left: 0.5em !important;
	margin-right: 1em !important;
}

#page>main>aside {
	width: auto;
	z-index: 0;
	margin-left: 0.5em !important;
	margin-right: 1em !important;
	flex-grow: 3;
}

#page>main .articles .tags {
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

#page>main article .title {
	flex-direction: column;
}

#page>main article .icons {
	justify-content: center;
}


#page>main article.tags {
	margin-top: 0.5em;
	flex-direction: column;
}

#page>main article>.header {
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center !important;
}

#page>main article>.header .text {
	margin: 1em 0;
}

#page>main article ul {
	margin: 0.05em;
}

.ql-editor {
	padding: 0;
}

#page > main .wrapper {
	padding: 1.25em 0.75em;
}

#page>footer ul {
	flex-direction: column;
	margin-left: 0;
}

#page>footer li:not(:first-child):before {
	content: '';
}

#page>footer li:last-child {
	padding-bottom: 1em;
}

#page>nav div.toolbar {

	margin: auto;
	margin-left: auto;
	left: auto;
	right: auto;
	top: 7em;
	align-items: center;
}

#page>nav div.toolbar ul {

	visibility: hidden;
	opacity: 0;
}

#page>nav>header.shrink {
	height: 175px;
}

#page>nav>header {
	height: 275px;
	transition: height 0.5s linear;
}

map>nav.shrink {

	visibility: hidden;
	opacity: 0;
}

map>nav {
	left: 0em;
	right: unset;
	top: 1.25em;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: visibility 0.75s, opacity 0.5s linear;
}

map>nav a.gm-suppress {
	display: none !important;
}

map>nav a.gm-export {
	display: none !important;
}

#page>nav main {
	text-align: center;
	left: auto;
	top: 1.25em;
}

#page>nav hr.shrink {
	visibility: hidden;
	opacity: 0;
}

#page>nav hr {

	position: fixed;
	top: 9.5em;
	width: 80%;

	z-index: 2;
	text-shadow: 0px 1px 5px #0005;

	border-top: 1px solid #FFF;
	border-bottom: 1px solid #3d4449;

	transition: visibility 0.75s, opacity 0.5s linear;
}

#page>header.shrink {
	visibility: hidden;
	opacity: 0;
}

#page>header {
	left: 1.5em;
	right: 0;
	top: 11.5em;

	transition: visibility 0.75s, opacity 0.5s linear;
}