map {
    overflow: hidden;
    background-color: #99d7fe; /* #e1eaf2; */

    display: block;
    position: absolute;
    width:100vw;
    height:100vh;
    z-index: 0;
}

map #myMap {
    position: fixed !important;
    height: 105%;
    width: 100%;
    
    overflow: hidden;
}

map>nav {
    position: fixed;
    z-index: 3;

    right: 0;
    top: 0;
    margin: 1em 1em;
}


map button.showMap { border:0; background: transparent; }
map button {

    cursor: pointer;
    font-size: 20pt;

    text-shadow: 1px 1px 5px #0005;
    background-color: #FFF3;
    color: #FFF;

    border-radius: 0.75em;
    border:0;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0.25em 0.25em 0 0;
}

button i#exitMap
{
    display:none;

    color:#FFF;
    font-size:18pt;

    text-shadow: 1px 1px 5px #0005;

    position:absolute;
    top: 0.75em;
    left: 1em;
    transition: opacity 0.4s ease;
}

a:hover i#exitMap {
    text-shadow: none;
}

map>nav a:hover {

    color:#FFF;
    text-shadow: 1px 1px 2px #0005;
}